<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/jvanrhyn/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="jvanrhyn" />
      <add key="ClearTextPassword" value="8974c5cab3ce3089d13091c4e7f3a227f317e289" />
    </github>
  </packageSourceCredentials>
</configuration>
